<section></section>

{% schema %}
{
  "name": "Image with Features",
  "class": "section-image-with-features",
  "settings": [],
  "disabled_on": {
    "groups": ["footer", "header"]
  },
  "presets": [
    {
      "name": "Image with Features"
    }
  ]
}
{% endschema %}
