<section>
  <div class="slider">
    <div class="slide-track">
      {% for block in section.blocks %}
        <div class="slide">
          <img
            src="{{ block.settings.logo | img_url: "master" }}"
            alt="{{ block.settings.logo.alt }}"
            width="{{ block.settings.logo.width }}"
            height="{{ block.settings.logo.height }}"
          >
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Logo Slider",
  "class": "section-logo-slider",
  "settings": [],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["footer", "header"]
  },
  "presets": [
    {
      "name": "Logo Slider"
    }
  ]
}
{% endschema %}
