<section>
  <div
    class="carousel"
    data-flickity='{"cellAlign":"center","freeScroll":true,"contain":true,"wrapAround":true,"autoPlay":3000,"pauseAutoPlayOnHover":false,"prevNextButtons":false,"pageDots":false, "groupCells": true}'
  >
    {% for block in section.blocks %}
      <div class="carousel-cell">
        <img
          src="{{ block.settings.logo | img_url: "master" }}"
          alt="{{ block.settings.logo.alt }}"
          width="{{ block.settings.logo.width }}"
          height="{{ block.settings.logo.height }}"
        >
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Logo Slider",
  "class": "section-logo-slider",
  "settings": [],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["footer", "header"]
  },
  "presets": [
    {
      "name": "Logo Slider"
    }
  ]
}
{% endschema %}
