<section></section>

{% schema %}
{
  "name": "Logo Slider",
  "class": "section-logo-slider",
  "settings": [],
  "disabled_on": {
    "groups": ["footer", "header"]
  },
  "presets": [
    {
      "name": "Logo Slider"
    }
  ]
}
{% endschema %}
