<section>
  <div class="text-video-container">
    <div></div>
    <div></div>
  </div>
</section>

{% schema %}
{
  "name": "Text Video Banner",
  "class": "section-header section-text-video",
  "settings": [],
  "disabled_on": {
    "groups": ["footer", "header"]
  },
  "presets": [
    {
      "name": "Text Video Banner"
    }
  ]
}
{% endschema %}
