{% capture textvideobanner %}
    <div class="text-video-highlights">
      {% for i in (1..4) %}
        <p>
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="13" viewBox="0 0 18 13" fill="none">
            <path d="M6.54961 12.9996L0.849609 7.29961L2.27461 5.87461L6.54961 10.1496L15.7246 0.974609L17.1496 2.39961L6.54961 12.9996Z" fill="#65D9FF"/>
          </svg>
          Reduce Anxiety
        </p>
      {% endfor %}
    </div>
    <button class="button button--primary button--gradient button--full button--highlight">
      <span>SHOP VIBRY NOW</span>
    </button>
    <div class="text-video-review">
      <div class="text-video-rating">
        {% for i in (1..5) %}
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
            <path d="M3.69008 14.8331L4.71924 10.384L1.26758 7.39147L5.82758 6.99564L7.60091 2.7998L9.37424 6.99564L13.9342 7.39147L10.4826 10.384L11.5117 14.8331L7.60091 12.474L3.69008 14.8331Z" fill="white"/>
          </svg>
        {% endfor %}
      </div>
      <p>Rated 4.8/5 by <strong>1000+ Customers</strong></p>
    </div>

{% endcapture %}

<section>
  <div class="text-video-container page-width">
    <div class="text-video-textcontent">
      <h3 class="heading h3">BREAK YOUR</h3>
      <h1 class="heading h1">ADDICTIONS</h1>
      <h4 class="heading h4">#1 AT-HOME NEUROMODULATION DEVICE</h4>
      <div class="text-video-meta desktop-only">
        {{ textvideobanner }}
      </div>
    </div>
    <div class="text-video-media">
      <button class="text-video-custom-playbtn">
        <svg xmlns="http://www.w3.org/2000/svg" width="78" height="78" viewBox="0 0 78 78" fill="none">
          <circle cx="38.6719" cy="39.3277" r="34.084" fill="#0C101D" fill-opacity="0.6"/>
          <circle cx="39" cy="39" r="39" fill="white" fill-opacity="0.1"/>
          <circle cx="38.6722" cy="39.3276" r="28.8403" fill="url(#paint0_linear_1_799)"/>
          <path d="M47.2447 38.6891C48.5753 39.4594 48.5753 41.3804 47.2447 42.1508L34.2365 49.6819C32.9031 50.4538 31.2344 49.4917 31.2344 47.951L31.2344 32.8888C31.2344 31.3482 32.9031 30.386 34.2364 31.158L47.2447 38.6891Z" fill="#F1F1F1"/>
          <defs>
          <linearGradient id="paint0_linear_1_799" x1="93.1343" y1="-23.8656" x2="38.4179" y2="89.6418" gradientUnits="userSpaceOnUse">
          <stop stop-color="#C0C6DA"/>
          <stop offset="1" stop-color="#666974"/>
          </linearGradient>
          </defs>
        </svg>
      </button>
      <video
        loop
      >
        <source src="https://cdn.shopify.com/videos/c/o/v/481f7c536d0f4f8a90d857cc7c1b6230.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <img src="https://cdn.shopify.com/s/files/1/0710/6025/9064/files/Vibry_b1_-_trans.png?v=1721952646">
    </div>
    <div class="text-video-meta mobile-only">
      {{ textvideobanner }}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Text Video Banner",
  "class": "section-text-video",
  "settings": [],
  "disabled_on": {
    "groups": ["footer", "header"]
  },
  "presets": [
    {
      "name": "Text Video Banner"
    }
  ]
}
{% endschema %}
