/* Global Styles (start)*/
:root {
  --button-gradient: linear-gradient(86.98deg, #65d9ff -34.1%, #0834ca 105.76%);
  --custom-subheading-font: "Saira", sans-serif;
  --custom-btn-font: "Libre Franklin", sans-serif;
  --fade-text-color: #ffffffb2;
  --primary-highlight-color: linear-gradient(
    84.58deg,
    #65d9ff -33.68%,
    #0834ca 302.75%
  );
  --animation-speed: 40s;
  --flex-min-width: 375px;
}

.button--highlight {
  font-weight: 700;
}

.button--tight {
  padding: 0 1rem !important;
  min-width: 0 !important;
}

.button--gradient {
  background: var(--button-gradient);
  border: none !important;
}

.button--gradient::after {
  box-shadow: none !important;
}

.button--full {
  width: 100%;
}

@media (min-width: 916px) {
  .mobile-only {
    display: none;
  }
}

@media (max-width: 916px) {
  .desktop-only {
    display: none;
  }
}

/* Global Styles (end) */

/* Overrides ( start ) */
body {
  background-image: url(https://cdn.shopify.com/s/files/1/0710/6025/9064/files/Background_Light.png?v=1721972372) !important;
  background-color: #0c101d !important;
  background-attachment: initial !important;
  background-size: cover !important;
}

@media (max-width: 500px) {
  body {
    background-image: url(https://cdn.shopify.com/s/files/1/0710/6025/9064/files/BG.png?v=1721974617) !important;
  }

  p.announcement-bar__message {
    font-size: 12px;
    font-weight: 700;
    line-height: 14.63px;
    letter-spacing: 0.01em;
  }
}

.section-custom-header .header {
  grid-template-areas: "heading button";
}

.section-custom-header .header--mobile-left {
  grid-template-columns: 2fr 1fr;
}

.section-custom-header .header-wrapper {
  background-color: transparent;
  border-bottom: 1px solid #ffffff33;
}

.custom-header-cta-container {
  grid-area: button;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

.custom-header-cta-container button {
  font-family: var(--custom-btn-font);
}

button a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-wrap: nowrap;
}

@media (max-width: 989px) {
  .section-custom-header .header {
    padding: 16px 20px;
  }

  .announcement-bar__link {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .section-custom-header .header__heading-link {
    padding-top: 0;
    padding-bottom: 0;
  }
  .custom-header-cta-container button.button--tight {
    font-size: 12px;
    font-weight: 700;
    line-height: 14.54px;
    letter-spacing: 0.01em !important;
    padding: 10px 16px !important;
    min-height: 0px;
  }
}
/* Overrides ( end ) */

/* Text Video Banner */

.text-video-container {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  flex-wrap: wrap;
  gap: 5rem;
}

.text-video-container > div {
  flex: 1;
  min-width: var(--flex-min-width);
}

.section-text-video {
  padding: 5rem 0;
}
.text-video-container .heading {
  margin: 0;
}

.text-video-textcontent {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.text-video-textcontent .h3 {
  font-size: 3.5rem;
  line-height: 3.8125rem;
  font-weight: 400;
}

.text-video-textcontent .h1 {
  font-size: 5.5rem;
  line-height: 6rem;
  font-weight: 800;
}

.text-video-textcontent .h4 {
  font-size: 1.6875rem;
  color: var(--fade-text-color);
  font-weight: 600;
}

.text-video-meta button {
  max-width: 500px;
}

.text-video-media {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  min-width: 400px;
  min-height: 400px;
}

.text-video-media video {
  width: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.text-video-media img {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.text-video-media .text-video-custom-playbtn {
  background: none;
  color: transparent;
  border: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
  cursor: pointer;
  width: 78px;
  height: 78px;
}

.text-video-media .text-video-custom-playbtn svg {
  max-width: 100%;
}

.text-video-highlights {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin: 32px 0;
}

.text-video-highlights p {
  margin: 0;
}

.text-video-review {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.text-video-review p {
  margin: 0;
}

.text-video-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}

@media (max-width: 989px) {
  .section-text-video {
    padding-top: 32px;
  }
  .text-video-textcontent .h1 {
    margin-bottom: 8px;
  }

  .text-video-meta button {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .text-video-review p {
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    letter-spacing: -0.01em;
  }
}

@media (max-width: 916px) {
  .text-video-textcontent {
    text-align: center;
  }
  .text-video-highlights {
    text-align: center;
  }
  .text-video-review {
    justify-content: center;
  }

  .text-video-media img {
    object-fit: cover;
  }
}

@media (max-width: 500px) {
  .text-video-container > div {
    min-width: 100%;
  }

  .text-video-textcontent .h3 {
    font-size: 26px;
    line-height: 28.6px;
    font-weight: 400;
  }

  .text-video-textcontent .h1 {
    font-weight: 800;
    font-size: 50px;
    line-height: 55px;
  }

  .text-video-textcontent .h4 {
    font-size: 15px;
    font-weight: 600;
    line-height: 18.29px;
  }

  .text-video-container::after {
    content: "";
    background-color: black;
    position: absolute;
    bottom: 0;
  }

  .text-video-container {
    gap: 0;
  }

  .text-video-highlights {
    margin-top: 0;
    padding: 0 17px;
  }

  .text-video-highlights p {
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
  }

  .section-custom-multicolumn .multicolumn .button {
    width: calc(100% - 40px);
  }
}

/* Logo Slider */

.section-logo-slider .carousel-cell {
  padding-left: 10px;
  padding-right: 10px;
}

.section-logo-slider .carousel {
  display: block;
  width: 100%;
}

.section-logo-slider .carousel-cell img {
  width: 100%;
  max-width: 120px;
  height: auto;
  filter: opacity(0.2);
}

.section-logo-slider .carousel-cell {
  margin-left: 5%;
  margin-right: 5%;
}

.section-logo-slider
  .carousel-cell.is-selected:not(:first-child):not(:last-child)
  img {
  filter: opacity(0.8);
}

/* Custom Rich Text */

.rte-subheading {
  font-family: var(--custom-subheading-font);
  color: #fff;
  opacity: 50%;
  font-size: 18px;
  font-weight: 500;
}

.rte-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

@media (max-width: 916px) {
  .section-custom-rich-text .rich-text {
    padding-top: 56px;
    padding-bottom: 71px;
  }
}

@media (max-width: 500px) {
  .section-custom-rich-text .rte-subheading {
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 0 1.5rem;
  }

  .section-custom-rich-text .rich-text__text {
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 0 1.5rem;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
  }

  .section-custom-rich-text .rich-text__heading.h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 39.6px;
    letter-spacing: -0.01em;
    max-width: var(--page-width);
    margin: 0 auto;
    margin-bottom: 12px;
    padding: 0 1.5rem;
  }

  .section-custom-rich-text .rich-text__wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

/* Custom Multicolumn */

.section-custom-multicolumn .title-wrapper-with-link {
  margin: 0;
  margin-bottom: 6px;
}

.section-custom-multicolumn slider-component {
  margin: 45px 0;
}

.section-custom-multicolumn .multicolumn .button {
  margin: 0;
}

.section-custom-multicolumn
  .multicolumn-card.content-container
  .multicolumn-card__info {
  padding: 16px;
}

.section-custom-multicolumn .background-none .multicolumn-card__image-wrapper {
  margin: 0;
}

.section-custom-multicolumn .multicolumn-card__info h3 {
  background: var(--primary-highlight-color);
  -webkit-background-clip: text;
  color: transparent;
}

.section-custom-multicolumn .multicolumn-card {
  border: 1px solid #ffffff33;
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.section-custom-multicolumn .title-wrapper-with-link {
  justify-content: center;
}

.section-custom-multicolumn .multicolumn--footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 14px;
  flex-wrap: wrap;
  gap: 16px;
}

.section-custom-multicolumn .multicolumn--footer p {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.section-custom-multicolumn .slider-mobile-gutter progress {
  width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 0;
  height: 5px;
  margin-top: 24px;
}

.section-custom-multicolumn
  .slider-mobile-gutter
  progress[value]::-webkit-progress-value {
  background-image: linear-gradient(86.98deg, #65d9ff -34.1%, #0834ca 105.76%);
  background-size: 35px 20px 100% 100% 100% 100%;
}

.section-custom-multicolumn .slider-buttons {
  display: none;
}

@media (min-width: 750px) {
  .section-custom-multicolumn .slider-mobile-gutter progress {
    display: none !important;
  }
}

@media (max-width: 500px) {
  .section-custom-multicolumn .rte-subheading {
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
  }

  .section-custom-multicolumn .rich-text__heading.h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 39px;
  }

  .section-custom-multicolumn .multicolumn .title-wrapper-with-link {
    margin-bottom: 4px;
  }

  .section-custom-multicolumn .multicolumn .title.h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 39px;
    text-align: center;
  }

  .section-custom-multicolumn slider-component {
    margin: 32px 0;
  }
}

/* Image with Features */

.image-with-features--container {
  padding: 0 20px;
}

.image-with-features--container h4,
.image-with-features--container h2 {
  text-align: center;
}

.image-with-features--container .rte-subheading {
  margin: 0;
  margin-bottom: 6px;
}

.image-with-features--container h2 {
  margin: 0;
}

.image-with-features--content {
  display: flex;
  flex-direction: row-reverse;
  gap: 48px;
  justify-content: center;
  align-items: center;
  margin: 48px 0;
  flex-wrap: wrap;
}

.image-with-features--content > div {
  min-width: var(--flex-min-width);
  flex: 1;
}

.image-with-feature--image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image-with-features--feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 24px;
  background-color: #ffffff0d;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.image-with-features--feature p {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0;
}

@media (max-width: 916px) {
  .image-with-features--features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  .image-with-features--feature {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .image-with-features--feature p {
    text-align: center;
  }

  .image-with-features--feature {
    margin-bottom: 0;
  }
}

@media (max-width: 500px) {
  .image-with-features--content > div {
    min-width: 100%;
  }

  .image-with-features--container .rte-subheading {
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
  }
  .image-with-features--container h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 39px;
  }
}
