/* Global Styles (start)*/
:root {
  --button-gradient: linear-gradient(86.98deg, #65d9ff -34.1%, #0834ca 105.76%);
  --fade-text-color: #ffffffb2;
  --primary-highlight-color: linear-gradient(
    84.58deg,
    #65d9ff -33.68%,
    #0834ca 302.75%
  );
  --animation-speed: 40s;
}

.button--highlight {
  font-weight: 700;
}

.button--tight {
  padding: 0 1rem !important;
  min-width: 0 !important;
}

.button--gradient {
  background: var(--button-gradient);
  border: none !important;
}

.button--gradient::after {
  box-shadow: none !important;
}

.button--full {
  width: 100%;
}

@media (min-width: 916px) {
  .mobile-only {
    display: none;
  }
}

@media (max-width: 916px) {
  .desktop-only {
    display: none;
  }
}
/* Global Styles (end) */

/* Overrides ( start ) */
.section-custom-header .header {
  grid-template-areas: "heading button";
}

.section-custom-header .header--mobile-left {
  grid-template-columns: 2fr 1fr;
}

.custom-header-cta-container {
  grid-area: button;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

button a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
}
/* Overrides ( end ) */

/* Text Video Banner */

.text-video-container {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  flex-wrap: wrap;
  gap: 5rem;
}

.text-video-container > div {
  flex: 1;
  min-width: 375px;
}

.section-text-video {
  padding: 5rem 0;
}
.text-video-container .heading {
  margin: 0;
}

.text-video-textcontent {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.text-video-textcontent .h3 {
  font-size: 3.5rem;
  line-height: 3.8125rem;
  font-weight: 400;
}

.text-video-textcontent .h1 {
  font-size: 5.5rem;
  line-height: 6rem;
  font-weight: 800;
}

.text-video-textcontent .h4 {
  font-size: 1.6875rem;
  color: var(--fade-text-color);
  font-weight: 600;
}

.text-video-media {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  min-width: 400px;
  min-height: 400px;
}

.text-video-media video {
  width: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.text-video-media img {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.text-video-media .text-video-custom-playbtn {
  background: none;
  color: transparent;
  border: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
  cursor: pointer;
  width: 78px;
  height: 78px;
}

.text-video-media .text-video-custom-playbtn svg {
  max-width: 100%;
}

.text-video-highlights {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin: 32px 0;
}

.text-video-highlights p {
  margin: 0;
}

.text-video-review {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.text-video-review p {
  margin: 0;
}

.text-video-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}

@media (max-width: 916px) {
  .text-video-textcontent {
    text-align: center;
  }
  .text-video-highlights {
    text-align: center;
  }
  .text-video-review {
    justify-content: center;
  }
}

/* Logo Slider */

.section-logo-slider .carousel-cell {
  padding-left: 10px;
  padding-right: 10px;
}

.section-logo-slider .carousel {
  display: block;
  width: 100%;
}

.section-logo-slider .carousel-cell img {
  width: 100%;
  max-width: 120px;
  height: auto;
}

.section-logo-slider .carousel-cell {
  margin-left: 5%;
  margin-right: 5%;
}

/* Custom Rich Text */

.rte-subheading {
  color: #fff;
  opacity: 50%;
  font-size: 18px;
  font-weight: 500;
}

.rte-image {
  width: 100%;
}

/* Custom Multicolumn */

.section-custom-multicolumn .title-wrapper-with-link {
  margin: 0;
  margin-bottom: 6px;
}

.section-custom-multicolumn slider-component {
  margin: 45px 0;
}

.section-custom-multicolumn .multicolumn .button {
  margin: 0;
}

.section-custom-multicolumn
  .multicolumn-card.content-container
  .multicolumn-card__info {
  padding: 16px;
}

.section-custom-multicolumn .background-none .multicolumn-card__image-wrapper {
  margin: 0;
}

.section-custom-multicolumn .multicolumn-card__info h3 {
  background: var(--primary-highlight-color);
  -webkit-background-clip: text;
  color: transparent;
}

.section-custom-multicolumn .multicolumn-card {
  border: 1px solid #cfcfcf;
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.section-custom-multicolumn .title-wrapper-with-link {
  justify-content: center;
}

.section-custom-multicolumn .multicolumn--footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 14px;
  gap: 16px;
}

.section-custom-multicolumn .multicolumn--footer p {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
